{% extends 'base.html' %}
{% load static %}
{% block title %}Eliminar Pedido{% endblock %}
{% block content %} 
    <div class="container">
        <h2>Eliminar Pedido</h2>
        <form method="post">
            {% csrf_token %}
            <p>¿Estás seguro de que deseas eliminar el pedido de {{ order.client.name }}?</p>
            <button class="btn waves-effect waves-light" type="submit">Eliminar Pedido</button>
            <a href="{% url 'order_list' %}" class="waves-effect waves-light btn">Cancelar</a>
        </form>
    </div>
{% endblock %}